.banner {
  display: none;
}

.nav__toggle {
  display: none;
}

.page-break {
  page-break-before: always;
}

body {
  background: #fff;
}

#how-i-build-software {
  padding-bottom: 100px !important;
}